@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: #0093E9;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.section1 {
    display: flex;
    justify-content: space-between;
    width: 94%;
    position: relative;
    top: .5%;
    margin: 1% auto;
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.section2 {
    display: flex;
    width: 100%;
    height: 85%;
    align-items: center;
    color: white;
}

.section-inner {
    width: 70%;
    margin-inline: auto;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    text-align: center;
    margin-bottom: 1.2em;
    margin-top: 1.2em;
    font-size: 1.5rem;
    outline: none;
    padding-bottom: 5px;
    max-width: 900px;
    background: none;
    color: white;
    text-shadow: 2px 2px 2px black;
}

footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    color: white;
    font-size: .9rem;
    text-shadow: 2px 2px 2px black;
}

h2 {
    font-size: 2.2rem;
    user-select: none;
    text-shadow: 2px 2px 2px black;
}

@media (max-width: 500px) {
    .section1 {
        font-size: 1.4rem;
    }

    input {
        font-size: 1.1rem;
    }

    h2 {
        font-size: 1.8rem;
    }
}

@media (min-width: 501px) and (max-width: 1000px) {
    .section1 {
        font-size: 1.7rem;
    }
    input {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 2rem;
    }
}