@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.section1 {
    display: flex;
    justify-content: space-between;
    width: 94%;
    position: relative;
    top: .5%;
    margin: 1% auto;
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.section2 {
    display: flex;
    width: 100%;
    height: 85%;
    align-items: center;
    color: white;
}

.section-inner {
    width: 70%;
    margin-inline: auto;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    text-align: center;
    margin-bottom: 1.2em;
    margin-top: 1.2em;
    font-size: 1.5rem;
    outline: none;
    padding-bottom: 5px;
    max-width: 900px;
    background: none;
    color: white;
    text-shadow: 2px 2px 2px black;
}

footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    color: white;
    font-size: .9rem;
    text-shadow: 2px 2px 2px black;
}

h2 {
    font-size: 2.2rem;
    user-select: none;
    text-shadow: 2px 2px 2px black;
}

#gameover {
    padding: 1.5em;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: none;
    border: 2px solid white;
    position: absolute;
    z-index: 200;
    background: #0093E9;
    border-radius: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 700px;
}

#gameover p {
    font-size: 3rem;
    color: white;
}

#gameover button {
    font-size: 1.5rem;
    padding: .8em;
    margin-top: 1.5em;
    border: 2px solid white;
    color: white;
    background: none;
    border-radius: 5px;
    cursor: pointer;
}

#playagain a {
    text-decoration: none;
    color: white;
}

#buttons {
    display: flex;
    gap: 2em;
}

#buttons a {
    text-decoration: none;
    color: white;
}

.home {
    color: white;
}

#homepage {
    cursor: pointer;
}

@media (max-width: 500px) {
    .section1 {
        font-size: 1.4rem;
    }

    #gameover {
        height: 40%;
        width: 60%;
        padding-inline: 20px;
    }

    #buttons {
        gap: .5em;
    }

    #gameover p {
        font-size: 2rem;
    }

    #gameover button {
        padding: .6em;
        font-size: 1.2rem;
    }

    input {
        font-size: 1.1rem;
    }

    h2 {
        font-size: 1.8rem;
    }
}

@media (min-width: 501px) and (max-width: 1000px) {
    .section1 {
        font-size: 1.7rem;
    }

    #gameover {
        width: 60%;
        padding: 1.5em;
    }

    #gameover p {
        font-size: 2.5rem;
    }

    #gameover button {
        padding: .7em;
        font-size: 1.4rem;
    }

    input {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 2rem;
    }
}